.giftListCon {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.giftItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  margin-top: 20px;
  width: 100%;
  justify-content: flex-end;
}

.giftImgCon {
  width: 75px;
  height: 75px;
  border-radius: 8px;
  overflow: hidden;
}

.giftImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.giftBodyCon {
  width: 59.8%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 9.6px;
}

.titleCon {
  max-lines: 2;
  text-overflow: ellipsis;
}

.tag {
  display: flex;
  width: 26.9px;
  height: 13.4px;
  line-height: 13.4px;
  border-radius: 7.7px;
  border: 1px solid #ff397e;/* todo 这里border无效 */
  text-align: center;
  color: #ff397e;
  font-family: PingFang SC;
  font-size: 9.6px;
}

.title {
  width: 100%;
  height: 34.6px;
  color: #262626;
  font-family: PingFang SC;
  font-size: 11.5px;
}

.size {
  margin-top: -8px;
  height: 13.4px;
  color: #999999;
  font-family: PingFang SC;
  font-size: 10.6px;
  max-lines: 1;
  text-overflow: ellipsis;
}

.footerCon {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.giftNum {
  color: #121212;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 11.5px;
}